{% extends 'base.html' %}
{% load staticfiles %}
{% load app_filters %}
{% block css %}<link rel="stylesheet" href="{% static 'timesheet/index.css' %}">{% endblock %}
{% block content %}
<!-- Coming from app {{app_name }} -->
{% if app_name == 'timesheet' %}
{% include 'timecapture/navbar_snippet.html' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags %}
            {% if message.tags == 'success' %}
                <li class="{{ message.tags }}"><i class="fa fa-lg fa-check-square-o"></i> {{ message }}</li>
            {% elif message.tags == 'warning' %}
                <li class="{{ message.tags }}"><i class="fa fa-lg fa-exclamation"></i> {{ message }}</li> 
            {% else %}
                <li class="{{ message.tags }}"><i class="fa fa-lg fa-exclamation-circle"></i> {{ message }}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endif %}



<table class="table table-striped table-bordered noselect">
    <thead>
        <tr>
            <th><i class="fa fa-calendar fa-lg"></i> </th><th>9am - 10am</th> <th>10am - 11am</th> <th>11am - 12pm</th> <th>12pm - 1pm</th> <th>1pm - 2pm</th> <th>2pm - 3pm</th> <th>3pm - 4pm</th> <th>4pm - 5pm</th> <th>5pm - 6pm</th> <th>6pm - 7pm</th> <th>7pm - 8pm</th><th>8pm - 9pm</th><th>9pm - 10pm</th><th>10pm - 11pm</th>
        </tr>
    </thead>
    <tbody>
        {% for tsheet_entry in tsheet_old_map %} 
        {% if week_day == forloop.counter0 %}
        <tr class="active3">
            <th><strong>{{ tsheet_entry.date|date:"d M D" }}</strong><br> <i class="fa fa-lg fa-calendar-check-o"></i>
            </th>
            {% if tsheet_entry.data %}
            {% for data in tsheet_entry.data %}
            {% if data %} 
            <td data-toggle="tooltip" data-placement="top" title="{{ data.description }}" data-container="body" 
                style="background-color:{{clients|get_item:data.client}}" colspan="{{ data.hours }}">
                <span class="client">{{ data.client }}</span><br>
                <span class="jobtype">{{ data.jobtype }}</span><br>
                <span class="description">{{ data.description }}</span>
            </td>
            {% else %}
            <td class='active2'> </td>
            {% endif %}
            {% endfor %}
            {% else %}
            <td class='active2'>9-10</td>
            <td class='active2'>10-11</td>
            <td class='active2'>11-12</td>
            <td class='active2'>12-1</td>
            <td class='active2'>1-2</td>
            <td class='active2'>2-3</td>
            <td class='active2'>3-4</td>
            <td class='active2'>4-5</td>
            <td class='active2'>5-6</td>
            <td class='active2'>6-7</td>
            <td class='active2'>7-8</td>
            <td class='active2'>8-9</td>
            <td class='active2'>9-10</td>
            <td class='active2'>10-11</td>
            {% endif %}
            {% else %}
                {% if tsheet_entry.data %}
                    <tr>
                    <th><strong>{{ tsheet_entry.date|date:"d M D" }}</strong></th>
                    {% for data in tsheet_entry.data %}
                    {% if data %} 
                        <td data-toggle="tooltip" data-placement="top" title="{{ data.description }}" data-container="body" 
                            style="background-color:{{clients|get_item:data.client}}" colspan="{{ data.hours }}">
                            <span class="client">{{ data.client }}</span><br>
                            <span class="jobtype">{{ data.jobtype }}</span><br>
                            <span class="description">{{ data.description }}</span>
                        </td>
                    {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if forloop.counter0 < week_day and forloop.counter0 < 5 and app_name == 'timesheet' %}
                    <tr class="leave" data-date="{{ tsheet_entry.date|date:"SHORT_DATE_FORMAT" }}">
                            <th><strong>{{ tsheet_entry.date|date:"d M D" }}</strong><br><i class="fa fa-lg fa-pagelines"></i></th>
                    {% else %}
                        <tr>
                        <th><strong>{{ tsheet_entry.date|date:"d M D" }}</strong></th>
                    {% endif %}
                    <td>9-10</td>
                    <td>10-11</td>
                    <td>11-12</td>
                    <td>12-1</td>
                    <td>1-2</td>
                    <td>2-3</td>
                    <td>3-4</td>
                    <td>4-5</td>
                    <td>5-6</td>
                    <td>6-7</td>
                    <td>7-8</td>
                    <td>8-9</td>
                    <td>9-10</td>
                    <td>10-11</td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if app_name == 'timesheet' %}
    <form method="POST" action="{% url 'timesheet:index' %}">
        {% csrf_token %}
        <input id="hinp" name="tsheet_data" hidden />
    </form>
    <button id="push-timesheet" type="submit" class="btn btn-primary">Save</button>
    <div id="popover-form" class="hide">
        <form class="form-inline" role="form">
            <div class="form-group">
                <select id="select-client" class="form-control">
                    {% for cl_name,cl_color in clients.items %} <option data-color="{{ cl_color }}">{{ cl_name }}</option>
                    {% endfor %}
                </select> 
                <select id="select-jobtype" class="form-control">
                    {% for jobtype in jobtypes %} <option data-ismis="{{ jobtype.is_miscellaneous }}">{{ jobtype.name }}</option> 
                    {% endfor %}
                </select>
                <br> <br>
                <input id="input-description" type="text" class="form-control" placeholder="description" maxlength="60">
                <span id="input-length-span"></span>
                <br> <br>
                <button id="popover-button" type="button" class="btn btn-primary">continue</button>                                  
            </div>
        </form>
    </div>
    <div id="popover-leave-form" class="hide">
        <form class="form-inline" role="form">
            <button id="popover-leave-button" type="button" class="btn btn-primary" >Mark this day as Leave</button>
        </form>
    </div>

    {% endif %}
    {% endblock %}
    {% block js %}
    {% if app_name == 'timesheet' %}
    <script>
        var mcName = "{{ miscellaneous_client.0 }}";
        var mcColor = "{{ miscellaneous_client.1 }}";
        var mcColspan = "{{ miscellaneous_client.2 }}";
        var mcJobtype = "{{ miscellaneous_client.3 }}";
    </script>
    <script src="{% static 'timesheet/index.js' %}"></script> 
    {% endif %}
    {% endblock %}
