<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% include 'timecapture/basic_css.html' %}
        {% block css %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block pad %}
        <style>
            body {
                padding: 50px;
            }
            img.company_img {
                width: 75px;
                height: 75px;
            }
            .navbar-nav li a {
                 line-height: 50px;
             }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% include 'timecapture/basic_js.html' %}
        {% block js %}{% endblock %}
    </body>
</html>
