{% extends "timemetric/metric_base.html" %}
{% block content %}

{{ block.super }}
{{ form.startdate.errors }}
{{ form.enddate.errors }}

<form id="theonlyform" enctype="multipart/form-data">
{{form.startdate}}
{{form.enddate}}
<fieldset class="module aligned">
<div class="form-row">
    <label for="{{form.daterange.id_for_label}}">{{form.daterange.label}}</label>
    {{form.daterange.errors}}{{form.daterange}}
    <p class="help">{{form.daterange.help_text}}</p>
</div>
<div class="form-row" >
    <label for="{{form.client.id_for_label}}">{{form.client.label}}</label>
    {{form.client.errors}}{{form.client}}
    <p class="help">{{form.client.help_text}}</p>
</div>
<div class="form-row" >
    <label for="{{form.jobtype.id_for_label}}">{{form.jobtype.label}}</label>
    {{form.jobtype.errors}}{{form.jobtype}}
    <a class="sel-all">Select All</a>&nbsp;&nbsp;
    <a  class="rem-all">Remove All</a>
    <p class="help">{{form.jobtype.help_text}}</p>
</div>
<div class="form-row" >
    <label for="{{form.e.id_for_label}}">{{form.e.label}}</label>
    {{form.e.errors}}{{form.e}}
    <a  class="sel-all">Select All</a>&nbsp;&nbsp;
    <a  class="rem-all">Remove All</a>
    <p class="help">{{form.e.help_text}}</p>
</div>
<div class="form-row" >
</div>
<div class="submit-row">
    <input id="submitbutton" type="submit" value="submit" class="default" name="_save"/>
</div>
</fieldset>
</form>
<p id='ignorePDF'></p>
{% if query_bool %}
{% include 'timemetric/analytics_snippet.html' %}
{% endif %}
{% endblock %}
